<!DOCTYPE HTML>

<html>

<head>
	<title>BDSE28 NO.4 車禍數據模型</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="icon" href="{{ url_for('static', filename='images/car_crash.png') }}">
	<noscript>
		<link rel="stylesheet" href="../static/assets/css/noscript.css" />
	</noscript>

	<!-- 載入jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- 縣市 js -->
	<script src="https://demeter.5fpro.com/tw/zipcode-selector.js"></script>

	<!-- leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
		integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
		integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

	<!-- Chart.js v2.9.3 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

	<style>
		.chart-box.dark {
			background-color: #172b4d;
		}

		.chart-header.dark {
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
		}

		.chart-header.dark h3.title {
			color: #fff;
		}
	</style>

	<!-- 頁籤style -->
	<style>
		.tab_css {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.tab_css input {
			display: none
		}

		.tab_css label {
			margin: 0 5px 5px 0;
			padding: 10px 16px;
			cursor: pointer;
			border-radius: 5px;
			background: #999;
			color: #fff;
			opacity: 0.5;
		}

		.tab_content {
			order: 1;
			display: none;
			width: 100%;
			border-bottom: 3px solid #ddd;
			line-height: 1.6;
			font-size: .9em;
			padding: 15px;
			border: 1px solid #ddd;
			border-radius: 5px;
		}

		.tab_css input:checked+label,
		.tab_css label:hover {
			opacity: 1;
			font-weight: bold;
		}

		.tab_css input:checked+label+.tab_content {
			display: initial;
		}
	</style>


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="/" class="logo">BDSE <br />Group 4</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/">車禍數據儀表板</a></li>
				<li><a href="location">各縣市車禍分佈</a></li>
				<li class="active"><a href="model">車禍數據模型</a></li>
				<li><a href="team">組員介紹</a></li>

			</ul>

		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<span class="date">January 17, 2023</span>
					<h1>車禍數據模型</h1>
					<!-- <p>敘述模型</p> -->
				</header>

				<input class="js-demeter-tw-zipcode-selector" data-city="#city" data-dist="#dist"
					placeholder="請輸入郵遞區號" />
				<select id="city" placeholder="請選擇縣市"></select>
				<select id="dist" placeholder="請選擇鄉鎮區"></select>
				<input id="road" type="text" placeholder="請輸入道路"></input>
				</br>
				<style>
					button {
						float: right;
					}
				</style>
				<button id="btn_request">送出查詢</button>

				<hr />

				<!-- leaflet地圖 -->
				<div id="map" class="box" style="height: 600px; width: 100%;"></div>
				<h3>車禍預測等級</h3>

				<!-- 頁籤 -->
				<div class="tab_css">
					<!-- TAB1 打包區塊 start -->
					<input id="tab1" type="radio" name="tab" />
					<label for="tab1">預測地點 1</label>
					<div class="tab_content">
						<div>
							<div class="chart-body">
								<canvas id="myChart1" class="box" style="height: 400px; width: 100%;"></canvas>
							</div>
						</div>
					</div>
					<!-- TAB1 打包區塊 end -->

					<!-- TAB2 打包區塊 start -->
					<input id="tab2" type="radio" name="tab" />
					<label for="tab2">預測地點 2</label>
					<div class="tab_content">
						<div>
							<div class="chart-body">
								<canvas id="myChart2" class="box" style="height: 400px; width: 100%;"></canvas>
							</div>
						</div>
					</div>
					<!-- TAB3 打包區塊 start -->
					<input id="tab3" type="radio" name="tab" />
					<label for="tab3">預測地點 3</label>
					<div class="tab_content">
						<div>
							<div class="chart-body">
								<canvas id="myChart3" class="box" style="height: 400px; width: 100%;"></canvas>
							</div>
						</div>
					</div>
					<!-- TAB3 打包區塊 end -->
				</div>

				</br>
				<div id="information"></div>
				<div id="result_address"></div>
				<div id="result"></div>

				<div class="table-wrapper">
					<table class="alt">
						<thead id="informationhead">

						</thead>
						<!-- 放Js要顯示的資料 -->
						<tbody>

						</tbody>

					</table>
				</div>

				<hr />

				<script>

					const selectCity = document.querySelector('#city');
					const selectDist = document.querySelector('#dist');
					const inputRoad = document.querySelector('#road');
					let tbody = document.querySelector('table > tbody');

					let map = L.map('map', { scrollWheelZoom: false }).setView([25.0339145, 121.5412233], 13);

					//初始化地圖圖層(預設)
					L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
						attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
					}).addTo(map);

					let marker = null;
					// 第幾個頁籤的圖表
					let countChart = 0;

					document.querySelector('button#btn_request').addEventListener('click', function (event) {
						const result = document.querySelector('#result');
						const result_address = document.querySelector('#result_address');

						fetch(`/model/${selectCity.value}${selectDist.value}/${inputRoad.value}`, {
							method: "GET"
						}).then(function (response) {
							return response.json();
						}).then(function (alldata) {
							// if (marker) {
							// 	marker.remove();
							// 	circle.remove();
							// }

							map.panTo([alldata.coordinate[0], alldata.coordinate[1]], 1);

							let cautionIcon = L.icon({
								iconUrl: '../static/images/caution(3).png',
								iconSize: [64, 64],
								iconAnchor: [32, 64],
								popupAnchor: [0, -60]
							});

							switch (alldata['rank'][0].match(/rank(\d+)/)[1]) {
								case ('1'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/cross-road(1).png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									});
									break;
								case ('2'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/cross-road(1).png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
								case ('3'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/cross-road(2).png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
								case ('4'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/cross-road(3).png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
								case ('5'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/caution.png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
								case ('6'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/caution.png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
								case ('7'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/caution(1).png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
								case ('8'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/caution(1).png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
								case ('9'):
									cautionIcon = L.icon({
										iconUrl: '../static/images/caution(2).png',
										iconSize: [64, 64],
										iconAnchor: [32, 64],
										popupAnchor: [0, -60]
									})
									break;
							}

							marker = L.marker([alldata.coordinate[0], alldata.coordinate[1]], { icon: cautionIcon }).addTo(map)
								.bindPopup(`<b>${selectCity.value}${selectDist.value}${inputRoad.value}</b>`)
								.openPopup();
							circle = L.circle([alldata.coordinate[0], alldata.coordinate[1]], { radius: 500 }).addTo(map);

							// 清空 tbody 底下既有元素，如 tr td 等
							tbody.innerHTML = '';

							let chartlabel = [];
							let chartdata = [];

							let info_head = document.getElementById('informationhead');
							info_head.innerHTML = '';

							info_head.innerHTML = `<tr>
								<th>時間</th>
								<th>氣溫(℃)</th>
								<th>降水量(mm)</th>
								<th>測站氣壓(hPa)</th>
								<th>相對溼度(%)</th>
								<th>危險程度(rank1~10)</th>
								<tr>`

							// 將回傳資料動態生成在網頁上
							for (let i = 0; i < 24; i++) {
								//輸出對應的 html tag
								let tr = document.createElement("tr");
								tr.innerHTML = `<td>${alldata['發生時間'][i]}</td>
												<td>${alldata['氣溫(℃)_x'][i]}</td>
												<td>${alldata['降水量(mm)_x'][i]}</td>
												<td>${alldata['測站氣壓(hPa)_x'][i]}</td>
												<td>${alldata['相對溼度(%)_x'][i]}</td>
												<td>${alldata['rank'][i]}</td>`

								tbody.appendChild(tr);
								chartlabel.push(`${alldata['發生時間'][i]}時`)
								var chartdata_rank = alldata['rank'][i].match(/rank(\d+)/)[1];
								chartdata.push(parseInt(chartdata_rank));
							}

							let div_info = document.getElementById('information');
							// 取得 <div id="result"> 元素
							let div_re = document.getElementById('result');
							let div_addr = document.getElementById('result_address');

							// 將資料印在 <div> 元素裡面
							div_info.innerHTML = `<h3>相關預測資料</h3>`;
							div_addr.innerHTML = `<b>${selectCity.value}${selectDist.value}${inputRoad.value}</b>`;
							div_re.innerHTML = `<b> 人口密度 : ${alldata['density']}  人/每平方公里 </b>`;

							// 圖表js
							countChart += 1;
							if (countChart > 3) {
								countChart = 1;
							}
							if (document.getElementById(`myChart${countChart}`).innerHTML != null) {
								document.getElementById(`myChart${countChart}`).innerHTML = ""
							}
							var ctx = document.getElementById(`myChart${countChart}`);
							var get_tab = document.getElementById(`tab${countChart}`);
							get_tab.click();

							var myChart = new Chart(ctx, {
								type: 'line',
								data: {
									labels: chartlabel,
									datasets: [{
										backgroundColor: 'rgba(255, 255, 255, 0.2)',
										borderColor: 'rgba(54, 162, 235, 1)',
										// borderWidth: 1,
										data: chartdata,
										lineTension: 0,
										fill: true, // 是否填滿色彩
										pointRadius: 8, // set the point radius to 5 pixels
										pointStyle: 'circle', // 點點樣式
										pointBackgroundColor: function (chartdata) {
											let value = chartdata.dataset.data[chartdata.dataIndex];
											switch (value) {
												case (1): return '#15FF00'
													break;
												case (2): return '#48FF00'
													break;
												case (3): return '#7BFF00'
													break;
												case (4): return '#AEFF00'
													break;
												case (5): return '#E1FF00'
													break;
												case (6): return '#FFE900'
													break;
												case (7): return '#FFE600'
													break;
												case (8): return '#FF8300'
													break;
												case (9): return '#FF5000'
													break;
												case (10): return '#FF1D00'
													break;
											};
											// return value;
											// ? 'red' : 'blue';
										},
									}],
								},
								options: {
									legend: {
										labels: {
											fontColor: 'white' // 標籤顏色 
										}
									},
									scales: {
										xAxes: [{
											gridLines: {
												display: false, // X軸 線條不顯示 
											},
											ticks: {
												fontColor: "#5B5B5B", // X軸 文字顏色 
											},
											scaleLabel: {
												display: true,
												labelString: '未來24小時'
											}
										}],
										yAxes: [{
											gridLines: {
												color: '#E0E0E0' // Y軸 線條顏色 
											},
											ticks: {
												fontColor: "#5B5B5B", // Y軸 文字顏色 
												// beginAtZero: true,// Y軸 從0開始
												suggestedMin: 0,
												suggestedMax: 10,
												stepSize: 1,
												fixedStepSize: 1
											},
											scaleLabel: {
												display: true,
												labelString: '危險程度'
											}
										}]
									}
								}
							});

						})
					})
				</script>



		</div>

		<!-- Footer -->


		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>車禍數據分析</li>
				<li><a>BDSE28-No.4</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.scrollex.min.js"></script>
	<script src="../static/assets/js/jquery.scrolly.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>