<!DOCTYPE HTML>

<html>

<head>
	<title>BDSE28 車禍數據分析</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="icon" href="{{ url_for('static', filename='images/car_crash.png') }}">
	<noscript>
		<link rel="stylesheet" href="../static/assets/css/noscript.css" />
	</noscript>

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo">BDSE NO.4</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/">車禍數據儀表板</a></li>
				<li><a href="location">各縣市車禍分佈</a></li>
				<li><a href="model">車禍數據模型</a></li>
				<li class="active"><a href="team">組員介紹</a></li>

			</ul>

		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<h1>團隊介紹</h1>
				</header>
				<hr />
				<!-- Image
				<h2>Image</h2>

				<h3>Fit</h3>
				<span class="image fit"><img src="../static/images/pic01.jpg" alt="" /></span> -->

				<div class="box alt">
					<div class="row gtr-50 gtr-uniform">
						<div class="col-4"><span class="image fit"><img src="../static/images/member1.jpeg"
									alt="" /><u><a
										href="https://www.cakeresume.com/s--mOMnSoqLGbdb0XLNJcuRNQ--/aaa1029a1029"
										class="fas fa-user-tie" target="_blank"> <b>陸煜鑨</b>
										<span class="label"></span></a>
								</u>
								<div>
									<b>
										專案部屬至雲端 AWS/GCP <br />
										Docker啟動網頁服務<br />
										Flask網頁串接模型、資料庫

									</b>
									<ul class="icons alt">
										<li><a href="https://github.com/JarvisLu1029" target="_blank"
												class="icon brands alt fa-github"><span class="label">GitHub</span></a>
										</li>
									</ul>

								</div>
							</span></div>

						<div class="col-4"><span class="image fit"><img src="../static/images/pic03.jpg" alt="" /><u><a
										href="#" class="fas fa-user-tie" target="_blank"> <b>刁卓</b>
										<span class="label"></span></a>
								</u>
								<div>
									<b>
										Hadoop架設

									</b>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
									</ul>
								</div>
							</span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/member3.jpeg"
									alt="" /><b>李彥學</b>
								<div>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
									</ul>
								</div>
							</span></div>
					</div>
				</div>
				<hr />
				<div class="box alt">
					<div class="row gtr-50 gtr-uniform">
						<div class="col-4"><span class="image fit"><img src="../static/images/member4.jpeg"
									alt="" /><b>陳姿伶</b>
								<div>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
									</ul>
								</div>
							</span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/member5.jpeg"
									alt="" /><b>王媛婷</b>
								<div>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
									</ul>
								</div>
							</span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic03.jpg"
									alt="" /><b>李家禎</b>
								<div>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
									</ul>
								</div>
							</span></div>

					</div>
				</div>


			</section>

		</div>

		<!-- Footer -->


		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>&copy; Untitled</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.scrollex.min.js"></script>
	<script src="../static/assets/js/jquery.scrolly.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>