<!DOCTYPE HTML>

<html>

<head>
	<title>BDSE28 車禍數據分析</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<link rel="icon" href="{{ url_for('static', filename='images/car_crash.png') }}">
	<noscript>
		<link rel="stylesheet" href="../static/assets/css/noscript.css" />
	</noscript>

</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo">BDSE <br />Group 4</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="/">車禍數據儀表板</a></li>
				<li><a href="location">各縣市車禍分佈</a></li>
				<li><a href="model">車禍數據模型</a></li>
				<li class="active"><a href="team">組員介紹</a></li>

			</ul>

		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<h1>組員介紹</h1>
				</header>
				<hr />
				<!-- Image
				<h2>Image</h2>

				<h3>Fit</h3>
				<span class="image fit"><img src="../static/images/pic01.jpg" alt="" /></span> -->

				<div class="box alt">
					<div class="row gtr-50 gtr-uniform">
						<div class="col-4"><span class="image fit"><img src="../static/images/member1.jpeg" alt="" />
								<u>
									<b><a href="https://www.cakeresume.com/s--mOMnSoqLGbdb0XLNJcuRNQ--/aaa1029a1029"
											class="fas fa-user-tie" target="_blank">
											陸煜鑨
											<span class="label"></span></a></b>

								</u>
								<div>
									<b>
										專案部屬至雲端 GCP/AWS <br />
										Docker 環境建置<br />
										Flask 網頁設計串接模型、資料庫

									</b>
									<ul class="icons alt">
										<li><a href="https://github.com/JarvisLu1029" target="_blank"
												class="icon brands alt fa-github"><span class="label">GitHub</span></a>
										</li>
										<style>
											.round-image {
												-webkit-clip-path: circle(50% at 50% 50%);
												clip-path: circle(50% at 50% 50%);
												width: 100%;
											}

											.round-image:hover {
												filter: brightness(100%) contrast(100%) saturate(200%) hue-rotate(240deg);
											}
										</style>
										<li>
											<a href="https://www.cakeresume.com/s--mOMnSoqLGbdb0XLNJcuRNQ--/aaa1029a1029"
												target="_blank"><img src="../static/images/cakeresume.png"
													class="round-image" alt="Round Image"
													style="height: 30px; width: 30px;"></a>
										</li>
									</ul>

								</div>
							</span></div>

						<div class="col-4"><span class="image fit"><img src="../static/images/member2.jpeg" alt="" />
								<u>
									<b><a href="#" class="fas fa-user-tie" target="_blank"> 刁 卓
											<span class="label"></span>
										</a></b>
								</u>
								<div>
									<b>
										Hadoop架設
									</b>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>

										</li>
									</ul>
								</div>
							</span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/member3.jpeg" alt="" />
								<u>
									<b><a href="#" class="fas fa-user-tie" target="_blank">
											李彥學
											<span class="label"></span></a></b>
								</u>
								<div>
									<b>
										資料清整
									</b>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
									</ul>
								</div>
							</span></div>
					</div>
				</div>
				<hr />
				<div class="box alt">
					<div class="row gtr-50 gtr-uniform">
						<div class="col-4"><span class="image fit"><img src="../static/images/member4.jpeg" alt="" />
								<u>
									<b><a href="https://www.cakeresume.com/8264475" class="fas fa-user-tie"
											target="_blank">
											陳姿伶
											<span class="label"></span></a></b>
								</u>
								<div>
									<b>
										資料視覺化 Tableau
									</b>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
										<li>
											<a href="https://www.cakeresume.com/8264475" target="_blank"><img
													src="../static/images/cakeresume.png" class="round-image"
													alt="Round Image" style="height: 30px; width: 30px;"></a>
										</li>
									</ul>
								</div>
							</span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/member5.jpeg" alt="" />
								<u>
									<b><a href="https://www.linkedin.com/in/christine-wang-yuanting/"
											class="fas fa-user-tie" target="_blank">
											王媛婷
											<span class="label"></span></a></b>
								</u>
								<div>
									<b>
										資料視覺化 Tableau
									</b>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
										<li>
											<a href="https://www.cakeresume.com/s--LGo6Gj5YcZlZB42JqIXpQg--/tingting0906"
												target="_blank"><img src="../static/images/cakeresume.png"
													class="round-image" alt="Round Image"
													style="height: 30px; width: 30px;"></a>
										</li>
									</ul>
								</div>
							</span></div>
						<div class="col-4"><span class="image fit"><img src="../static/images/pic03.jpg" alt="" />
								<u>
									<b><a href="#" class="fas fa-user-tie" target="_blank">
											李家禎
											<span class="label"></span></a></b>
								</u>
								<div>
									<b>
										機器學習
									</b>
									<ul class="icons alt">
										<li><a href="#" class="icon brands alt fa-github"><span
													class="label">GitHub</span></a>
										</li>
									</ul>
								</div>
							</span></div>

					</div>
				</div>


			</section>

		</div>

		<!-- Footer -->


		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>車禍數據分析</li>
				<li><a>BDSE28-No.4</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/jquery.scrollex.min.js"></script>
	<script src="../static/assets/js/jquery.scrolly.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>

</html>